.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  /* background: linear-gradient(to bottom, #000000a9, #262626d5); */
  background: linear-gradient(to bottom, #756e6ea9, #262626d5);
  border-bottom: 5px solid #f8f8f8;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  color: #333; 
  position:relative;

}


.logo img {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 1px;
  border:0.1px solid rgb(201, 201, 157);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s; 
  z-index: 1;
}


.logo img:hover {
  transform: scale(1.5); 
}


.divlink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  right: 3px;
}

.link {
  display:inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #f8f8f8;
  text-transform: uppercase;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: normal;
}


.container{
  display: inline-block;
  align-items:center;
  justify-content:flex-end;
 right: 20px;
  color:azure;
  padding: 3px;
  background-color:  #333333;
  height: 20px;
  width: 100px;
  border-radius: 5px;
  font: oblique bold 100% cursive;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  margin-top: 3px;
  margin-left: 7px;
  
 

 
}

.divLink {
  display:inline-block;
  

 right: 100px;


 
}

.container:hover {
  color:#8B4513;

}

.divLink select {
  display: block;
  align-items: center;
  justify-content: center;
  background-color:    blanchedalmond;
  padding: 3px;
  height: max-content;
  width: max-content;
  font: oblique bold 100% cursive;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: blanchedalmond;
}