/* Landing.module.css */

/* Estilos para el primer carrusel */
.imageContainer {
  position: relative;
  justify-content: center;
  align-items: center;
  width:max-content; 
  
}

.centered {
  position: absolute;
  top: 27%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: rgb(65, 65, 63); 
  z-index: 1; 
  font: oblique bold 100% cursive;
  font-size: 18px;
}

.centeredText {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: rgb(49, 48, 48);
  z-index: 1; 
  font: oblique bold 100% cursive;
  font-size: 25px;
}

.imageContainer {
  display: inline-flex;
  justify-content: center; 
  width: 65%; 
  height: 90vh;
  top: 40px;
}

.img {
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s; 
}




.secondCarousel h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.productImages {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px; /* Para crear un espacio entre las imágenes */
}

.productImages div {
  flex-basis: calc(20% - 20px); /* 20% width para cada imagen con un pequeño espacio */
  margin: 10px; 
  text-align: center;
}

.productImages img {
  max-width: 100%;
  height: auto;
}

.productImages p {
  color: black;
  font-size: 16px;
  margin-top: 10px;
}

h1{
  font: oblique bold 100% cursive;
  font-size: 18px;
  margin-top: 30px;
  padding: 30px;
  
}

.productImages img:hover {
 -webkit-transform: scale(1.08);
 transform: scale(1.08);
 box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.7);
 transition: transform 0.3s; 
 cursor: pointer; 
}

.publicidad {
  width: 250px;
  height: auto; 
  margin-top: 120px;
  display: inline-block; 
  padding: 10px; 
  background-color: blanchedalmond;
  text-align: center; 
  margin-bottom: 50px;
}

.publicidad:hover {
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s; 
  background-color: #0e0c0c;
  cursor: pointer; 
 }

 body {
  background-color: #333;
}
