.product-detail{
    width: 381px;
    /* height: calc(87vh - 114px); */
    /* top: 92px; */
    margin: auto;
    border: solid;
    padding: 40px;
    
    border-radius: 18px;
    position: absolute;
    top: 17%;
    background-color: white;
    right: 40%;
}
.close{
    display: flex;
}
.open{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.hidden{
    display: none;
}
.close{
    border-radius: 82px;
    padding: 6px;
    font-size: 36px;
    align-content: flex-start;
    cursor: pointer;
}