/* PaymentForm.module.css */

.payment-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(to bottom, #FFA500, #FF6347); */
  background: linear-gradient(to bottom, #8B4513, #F5F5DC);
  background-position: center;

}

.card-element {
  padding: 10px;
  border: 1px solid #212020;
  border-radius: 4px;
  margin-bottom: 20px;
}

.pay-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.pay-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

